*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  height: 100%;

  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Orelega One', serif;
  color: #000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  min-height: 100%;
  overflow: hidden;
}

.header__image {
  padding: 80px;

  background-image: url('./img/photo_2024-04-30_23-03-49.jpg');
  background-size: cover;
  background-size: no-repeat;
  background-position: center;
}

.header__container h1 {
  padding: 20px;

  width: 100%;
  font-size: 2rem;
  text-align: center;
  color: #000;
}

.content {
  flex: 1 1 auto;
}

.content__container {
  text-align: center;
  padding: 15px 0px;
}

.header__content {
  padding-bottom: 10px;

  font-size: 2rem;
  text-align: center;
  text-decoration: underline;
  color: #af1111;
}

.content__item {
  padding: 15px;
  margin: 10px 0px;

  font-size: 1.5rem;
  color: #000;
  border: 2px solid black;
}

.content__footer {
  padding: 15px;

  font-size: 1.62rem;
  color: #000;
}

.footer {
  color: #000;
  font-size: 2rem;
  text-align: center;
}
